.carousel {
	display: flex;
	scroll-snap-type: X mandatory;
	scroll-padding: 0 24px;
	background-color: brown;
	overflow: auto;
	margin-bottom: 100px;
}

.carousel .item {
	margin-right: 10px;
	width: 200px;
	height: 280px;
	scroll-snap-align: start;
	background-color: green;
	flex-shrink: 0;
}

.carousel2 {
	display: flex;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
}

.carousel-item {
	flex: 0 0 100%;
	scroll-snap-align: start;
}
