.carousel {
	display: flex;
	scroll-snap-type: X mandatory;
	scroll-padding: 0 24px;
	background-color: brown;
	overflow: auto;
	margin-bottom: 100px;
}

.carousel .item {
	margin-right: 10px;
	width: 200px;
	height: 280px;
	scroll-snap-align: start;
	background-color: green;
	flex-shrink: 0;
}

.carousel2 {
	display: flex;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
}

.carousel-item {
	flex: 0 0 100%;
	scroll-snap-align: start;
}

/* --ROTATIONS-- */

.container {
	/* height: 700px; */
	background-color: #7db9b6;
	/* margin-top: 5rem; */
	padding: 50px;
}

.container .large-circle {
	position: relative;
	width: 400px;
	height: 400px;
	border-radius: 50%;
	background-color: #e96479;
	margin: 100px;
}

.container .small-circle {
	position: absolute;
	top: 175px;
	left: 175px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #4d455d;
	/* z-index: -1; */
}

.large-circle:hover .small-circle1 {
	top: 0;
	left: 0;
	transition: all 0.5s ease;
	z-index: 1;
	animation: rotation1 2s linear 0.7s infinite;
}

.large-circle:hover .small-circle2 {
	top: 0;
	left: 350px;
	/* right: 400px; */
	background-color: #4d455d;
	transition: all 0.5s ease;
	z-index: 1;
	animation: rotation2 2s linear 0.7s infinite;
}

.large-circle:hover .small-circle3 {
	top: 350px;
	left: 350px;
	transition: all 0.5s ease;
	z-index: 1;
	animation: rotation3 2s linear 0.7s infinite;
}

.large-circle:hover .small-circle4 {
	top: 350px;
	left: 0px;
	transition: all 0.5s ease;
	z-index: 1;
	animation: rotation4 2s linear 0.7s infinite;
}

.large-circle:hover {
	animation: orbit 2s linear 0.7s infinite;
}

@keyframes orbit {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes rotation1 {
	0% {
		top: 0;
		left: 0;
	}

	25% {
		top: 0;
		left: 350px;
	}

	50% {
		top: 350px;
		left: 350px;
	}

	75% {
		top: 350px;
		left: 0;
	}

	100% {
		top: 0;
		left: 0;
	}
}

@keyframes rotation2 {
	0% {
		top: 0;
		left: 350px;
	}

	25% {
		top: 350px;
		left: 350px;
	}

	50% {
		top: 350px;
		left: 0;
	}

	75% {
		top: 0;
		left: 0;
	}

	100% {
		top: 0;
		left: 350px;
	}
}

@keyframes rotation3 {
	0% {
		top: 350px;
		left: 350px;
	}

	25% {
		top: 350px;
		left: 0;
	}

	50% {
		top: 0;
		left: 0;
	}

	75% {
		top: 0;
		left: 350px;
	}

	100% {
		top: 350px;
		left: 350px;
	}
}

@keyframes rotation4 {
	0% {
		top: 350px;
		left: 0;
	}

	25% {
		top: 0;
		left: 0;
	}

	50% {
		top: 0;
		left: 350px;
	}

	75% {
		top: 350px;
		left: 350px;
	}

	100% {
		top: 350px;
		left: 0;
	}
}
